.articles {
  padding-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid #ccc;

  &:first-of-type {
    border-top: 0;
  }

  @media screen and (max-width: 425px) {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .serial-no {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    width: 2rem;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 2px;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }

  .title {
    margin-bottom: 5px;
    font-style: 18px;
    a {
      text-decoration: none;
    }
  }

  .details {
    margin-top: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
  }
}
