.index {
  .container {
    .top-head {
      align-items: center;
      padding: 0.5rem;

      button:focus {
        outline: none !important;
        box-shadow: none !important;
      }

      .new-article,
      .top-article,
      .job-article {
        font-size: 1rem;
        background-color: #f2f7f4;
        margin: 0 0.5rem;
        border-radius: 5px;
        font-weight: bold;
        padding: 0.5rem 1rem;
        text-decoration: none;
        &:hover {
          background-color: #d3cccc;
        }
      }

      .active {
        background-color: #e87007;
        &:hover {
          background-color: #e87007 !important;
        }
      }
    }
  }
}
